<!DOCTYPE html>
<html>
<head>
  <title>Full Page Test</title>
  <link rel="stylesheet" href="style.min.css" />
</head>
<body>
  <header>
    <nav class="blue-bg fixed">
      <div class="container">
      <ul class="left">
        <li class="hamburger">
            <span class="condiment"></span>
            <span class="condiment"></span>
            <span class="condiment"></span>
        </li>
        <li class="logo">
          <a>
            Jonah Allibone
          </a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/market">Market</a>
        </li>
        <li class="search-container">
          <span class="menu-item search-parent">
            <input type="text" class="search" placeholder="Search..."/>
          </span>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
      </div>
    </nav>
  </header>
</body>
</html>
