<!DOCTYPE html>
<html>
<head>
  <title>Full Page Test</title>
  <link rel="stylesheet" href="style.min.css" />
</head>
<body>
  <header>
    <nav class="green-bg fixed">
      <ul class="left">
        <li class="logo">
          <a href="/">
            Logo <br />
            hi <br />
            again
          </a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/market">Market</a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>
