<!DOCTYPE html>
<html>
<head>
  <title>Full Page Test</title>
  <link rel="stylesheet" href="style.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header>
    <nav class="blue-bg fixed">
      <div class="container">
      <ul class="left">
        <li class="hamburger">
            <!-- Menu icon by Icons8 -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.0"
                x="0px" y="0px"
                viewBox="0 0 26 26"
                class="icon icons8-Menu" >
                 <path d="M 0 4 L 0 6 L 26 6 L 26 4 L 0 4 z M 0 12 L 0 14 L 26 14 L 26 12 L 0 12 z M 0 20 L 0 22 L 26 22 L 26 20 L 0 20 z">
                 </path>
            </svg>
        </li>
        <li class="logo">
          <a>
            Jonah Allibone
          </a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/market">Market</a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
      </div>
    </nav>
    <div id="side">

    </div>
  </header>

  <script>
    var hamburger = document.querySelector('.hamburger');
    hamburger.addEventListener('click', function() {
      document.querySelector('#side').classList.toggle("open");
    })
  </script>

</body>
</html>
