/*Variables*/

$slightshadow: rgba(0,0,0,0.1);
$darken: rgba(0,0,0,0.2);
$lighten: rgba(255,255,255,0.8);
$padding: 1rem 1rem;
$green: #39CCCC;
$blue: #4A89DC;
$lightblue: #7FDBFF;
$white: #FFF;
$menu-border-width: 3px;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

@mixin flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*** grid ***/



/** end grid **/

/*styles*/



/*****
Add UL -> flexbox
put logo outside nav, but in header
==========================
flex-wrap: nowrap;
==========================
*****/
html,body {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Avenir', sans-serif;
}

.container {
  @include flex-row;
  flex: 1;
}

a {
  cursor: pointer;
}

nav {
  @include flex-row;
  justify-content: space-around;
  box-shadow: 0 0 7px 1px $slightshadow;
  box-sizing: border-box;

  .hamburger {
    @include flex-column-around;
    box-sizing: border-box;
    padding: 1.4rem;
    width: 65px;
    cursor: pointer;
    position: relative;
  }

  .hamburger:after {
    content: '';
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: .15s ease-in-out all;
  }

  .hamburger:active:after {
    background-color: $darken;
  }

  .hamburger .condiment {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include flex-row;
    text-decoration: none;
    text-align: center;
    flex: 1 0 auto;
    box-sizing: border-box;
    white-space: nowrap;
  }

  a, .menu-item {
    @include flex-column-around;
    padding: 1rem 1rem calc(1rem - #{$menu-border-width}) 1rem;
    text-decoration: none;
    transition: .15s ease-in-out all;
    box-sizing: border-box;
  }

  a {
    border-bottom: $menu-border-width solid rgba(0,0,0,0);
  }

  a:hover {
    border-color: $white;
  }

  .logo {
    background-color: $darken;
    font-weight: bold;
    margin-left: 0;
  }

  .left {
    @include flex-row;
    margin-right: auto;
    text-align: right;
  }

  .right {
    @include flex-row;
    margin-left: auto;
    text-align: left;
  }


  .search-container {
    width: 500px;
  }

  .search-parent {
    padding: .5rem;
    width: 100%;
  }

  input[type=text].search {
    background-color: $darken;
    border: 0;
    padding: .75rem .5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFF;
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
  }

}

nav.green-bg {
  background-color: $green;
  color: $white;

  a {
    color: #FFF;
  }
}

nav.blue-bg {
  background-color: $blue;
  color: $white;

  a {
    color: #FFF;
  }
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#side {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: $white;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  box-shadow: $slightshadow;
  transition: .15s ease-in-out all;
}

#side.open {
  transform: translateX(0);
}
