/*Variables*/

$slightshadow: rgba(0,0,0,0.1);
$padding: 1rem 1rem;
$green: #39CCCC;
$blue: #0074D9;
$lightblue: #7FDBFF;
$white: #FFF;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

@mixin flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


/*styles*/



/*****
Add UL -> flexbox
put logo outside nav, but in header
==========================
flex-wrap: nowrap;
==========================
*****/
html,body {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Avenir', sans-serif;
}

a {
  cursor: pointer;
}

nav {
  @include flex-row;
  box-shadow: 0 0 7px 1px $slightshadow;
  box-sizing: border-box;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    @include flex-row;
    text-decoration: none;
    text-align: center;
    flex: 1 0 auto;
    box-sizing: border-box;
    white-space: nowrap;
  }

  a {
    @include flex-column-around;
    padding: $padding;
    text-decoration: none;
    border-bottom: 3px solid rgba(0,0,0,0);
    transition: .15s ease-in-out all;
  }

  a:hover {
    border-color: rgba(0,0,0,0.3);
  }

  .logo {
    background-color: rgba(0,0,0,0.3);
    font-weight: bold;
    margin-left: 0;
  }

  .left {
    @include flex-row;
    margin-right: auto;
    text-align: right;
  }

  .right {
    @include flex-row;
    margin-left: auto;
    text-align: left;
  }
}

nav.green-bg {
  background-color: $green;
  color: $white;

  a {
    color: #FFF;
  }
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.hero {

}
